<!doctype html>
<html dir="ltr" lang="en-US" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta name="description" content="">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>Da'Jour Christophe</title>

    <link href="https://fonts.googleapis.com/css2?family=Meow+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Meow+Script&family=Roboto:ital,wdth,wght@0,87.5,100..900;1,87.5,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Meow+Script&family=Roboto:ital,wdth,wght@0,87.5,100..900;1,87.5,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cossette+Texte:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../assets/css/index.css">

    <script>
      void function() {
        document.documentElement.className =
        document.documentElement.className.replace('no-js', 'js');
      }();
    </script>
  </head>
  <body>
    <div class="page">
      <div class="splash">
        <div class="signature" aria-hidden="true">
          <span class="ink-clip" id="splash-signature-clip">
            <span class="ink" id="splash-signature-text">Da'Jour J. Christophe</span>
          </span>
        </div>
        <canvas class="canvas" id="splash-canvas" aria-label="Da'Jour J. Christophe"></canvas>
      </div>

      <nav class="navigation">
        <ul class="list">
          <li class="list-item"></li>
          <li class="list-item">
            <ul class="list">
              <li class="list-item">
                <button class="link" id="experience-cta">Experience</button>
              </li>
              <li class="list-item">
                <button class="link" id="services-cta">Services</button>
              </li>
              <li class="list-item">
                <button class="link" id="about-me-cta">About Me</button>
              </li>
              <li class="list-item">
                <button class="link" id="social-media-cta">Social Media</button>
              </li>
            </ul>
          </li>
          <!-- <li class="list-item">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 264 500 131"
                 preserveAspectRatio="xMidYMax meet"
                 class="brand-logo">
            <path id="curved" d="M 20,370 A 260,156 0 0,1 480,370" fill="none" />
            <text>
              <textPath href="#curved" startOffset="50%">
                Da'Jour J. Christophe
              </textPath>
            </text>
          </svg>
          </li> -->
          <li class="list-item">
            <button class="link" id="work-with-me-cta">
              <span>Work With Me</span>
              <figure class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                  <path d="M598.6 342.6C611.1 330.1 611.1 309.8 598.6 297.3L470.6 169.3C458.1 156.8 437.8 156.8 425.3 169.3C412.8 181.8 412.8 202.1 425.3 214.6L498.7 288L64 288C46.3 288 32 302.3 32 320C32 337.7 46.3 352 64 352L498.7 352L425.3 425.4C412.8 437.9 412.8 458.2 425.3 470.7C437.8 483.2 458.1 483.2 470.6 470.7L598.6 342.7z"/>
                </svg>
              </figure>
            </button>
          </li>
        </ul>
      </nav>

      <div class="spacer"></div>

      <aside class="left-menu">
        <ul class="list">
          <li class="list-item">
            <span>EST. 2015</span>
          </li>
          <li class="list-item">
            <hr>
          </li>
          <li class="list-item">
            <span>ML/AI . SYSTEMS . PERFORMANCE</span>
          </li>
        </ul>
      </aside>

      <header class="banner">
        <h1 class="hero">
          <span class="left-text">Da'Jour&nbsp;&nbsp;J.</span>
          <br>
          <span class="right-text">Christophe</span>
        </h1>
        <ul class="list">
          <li class="list-item">
            <div class="left-panel">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                <path d="M352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128L288 288L128 288C110.3 288 96 302.3 96 320C96 337.7 110.3 352 128 352L288 352L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 352L512 352C529.7 352 544 337.7 544 320C544 302.3 529.7 288 512 288L352 288L352 128z"/>
              </svg>
            </div>
            <div class="right-panel">
              <h4>200</h4>
              <span>Projects completed</span>
            </div>
          </li>
          <li class="list-item">
            <hr />
          </li>
          <li class="list-item">
            <div class="left-panel">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                <path d="M352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128L288 288L128 288C110.3 288 96 302.3 96 320C96 337.7 110.3 352 128 352L288 352L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 352L512 352C529.7 352 544 337.7 544 320C544 302.3 529.7 288 512 288L352 288L352 128z"/>
              </svg>
            </div>
            <div class="right-panel">
              <h4>50</h4>
              <span>Startups raised</span>
            </div>
          </li>
        </ul>
        <h2 class="title">AI Systems Engineer, <span class="sub">Alamogordo, NM</span></h2>
        <p class="text">I design and implement <strong>custom machine learning and systems infrastructure</strong> in C++/Python—from <strong>vector engines and schedulers</strong> to production-ready intelligent systems.</p>
        <button class="link" id="open-cta">
          <span>See me in-action</span>
          <figure class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
              <path d="M598.6 342.6C611.1 330.1 611.1 309.8 598.6 297.3L470.6 169.3C458.1 156.8 437.8 156.8 425.3 169.3C412.8 181.8 412.8 202.1 425.3 214.6L498.7 288L64 288C46.3 288 32 302.3 32 320C32 337.7 46.3 352 64 352L498.7 352L425.3 425.4C412.8 437.9 412.8 458.2 425.3 470.7C437.8 483.2 458.1 483.2 470.6 470.7L598.6 342.7z"/>
            </svg>
          </figure>
        </button>
        <label class="label">INTELLIGENCE</label>
      </header>

      <footer class="footer">
        <!-- <figure class="scroll-indicator">
          <div class="indicator-content">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="indicator-icon">
              <path d="M297.4 438.6C309.9 451.1 330.2 451.1 342.7 438.6L502.7 278.6C515.2 266.1 515.2 245.8 502.7 233.3C490.2 220.8 469.9 220.8 457.4 233.3L320 370.7L182.6 233.4C170.1 220.9 149.8 220.9 137.3 233.4C124.8 245.9 124.8 266.2 137.3 278.7L297.3 438.7z"/>
            </svg>
            <figcaption class="indicator-label">Scroll down</figcaption>
          </div>
        </figure> -->
        <!-- <span class="label">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
            <path d="M535.1 342.6C547.6 330.1 547.6 309.8 535.1 297.3L375.1 137.3C362.6 124.8 342.3 124.8 329.8 137.3C317.3 149.8 317.3 170.1 329.8 182.6L467.2 320L329.9 457.4C317.4 469.9 317.4 490.2 329.9 502.7C342.4 515.2 362.7 515.2 375.2 502.7L535.2 342.7zM183.1 502.6L343.1 342.6C355.6 330.1 355.6 309.8 343.1 297.3L183.1 137.3C170.6 124.8 150.3 124.8 137.8 137.3C125.3 149.8 125.3 170.1 137.8 182.6L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7z" />
          </svg>
          <span>BUILDING WHAT'S NEXT_</span> -->
      </footer>

      <article class="article" id="article"></article>
    </div>

    <script src="../assets/js/index.js"></script>
  </body>
</html>
