doctype html
html.no-js(dir='ltr', lang='en-US')
  include partials/_head
  body
    .page
      include partials/_splash
      include partials/_navigation
      .spacer
      include partials/_left-menu
      include partials/_banner
      include partials/_footer
    script(src=jsHref)
