doctype html

//- Main Jade entrypoint. Partial files below compose the generated portfolio shell.
html(dir='ltr', lang='en-US' itemscope='' itemtype='http://schema.org/WebPage')

  include partials/_head

  body#body
    #page.page
      include partials/_splash
      include partials/_navigation
      #spacer.spacer
      include partials/_left-menu
      include partials/_banner
      include partials/_footer

    script(src=jsHref)
