// Global element resets, document/body presentation, and the root page grid.
// * { outline: 1px solid red }

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 10px;
}

@property --bg-outer {
  syntax: '<color>';
  initial-value: #d4d4d4;
  inherits: false;
}

@property --bg-inner {
  syntax: '<color>';
  initial-value: #d4d4d4;
  inherits: false;
}

body {
  width: 100vw;
  height: auto;
  margin: 0;
  overflow: hidden !important;
  line-height: 1.5;
  color: #222;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #d4d4d4;
  background: linear-gradient(
    var(--bg-outer) 0%,
    var(--bg-inner) 50%,
    var(--bg-outer) 100%
  );
  -webkit-user-drag: none;
  transition: --bg-outer 500ms ease, --bg-inner 500ms ease;
}

@keyframes background-entry-animation {
  from { opacity: 0; }
    to { opacity: 1; }
}

body::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background-image: url('../img/profile.png');
  background-attachment: local;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(97.5%);
  animation: background-entry-animation 180ms linear 2.25s forwards;
  z-index: -1;
}

body.hide::before {
  visibility: hidden;
}

@keyframes splash-animation {
  from { transform: translateY(     0); }
    to { transform: translateY(-100vh); }
}

body .page {
  position: relative;
  display: grid;
  width: 100%;
  height: 100vh;
  padding: 0 30px;
  cursor: default;
  grid-template-areas:
    't t t'
    'n n n'
    's s s'
    'l b b'
    'l f f'
    'a a a';

  grid-template-columns: var(--sidebar-width)
                         var(--main-width)
                         var(--sidebar-width);

  grid-template-rows: var(--splash-height)
                      var(--navigation-height)
                      var(--spacer-height)
                      var(--sidebar-height)
                      var(--footer-height)
                      var(--article-height);

  transform: translateY(0);
  animation: splash-animation 240ms linear 2s forwards;
  z-index: 1000;
}

body.black,
.page.black {
  --bg-outer: rgba(204, 79, 0, .015);
  --bg-inner: rgba(214, 92, 5, .015);
}
body.blue,
.page.blue {
  --bg-outer: rgba(204, 180, 0, .015);
  --bg-inner: rgba(223, 199, 30, .015);
}
body.orange,
.page.orange {
  --bg-outer: rgba(125, 204, 0, .015);
  --bg-inner: rgba(146, 224, 26, .015);
}
body.red,
.page.red {
  --bg-outer: rgba(0, 125, 204, .015);
  --bg-inner: rgba(30, 149, 224, .015);
}
body.white,
.page.white {
  --bg-outer: rgba(78, 0, 204, .015);
  --bg-inner: rgba(103, 26, 224, .015);
}

@keyframes splash-entry-animation {
  from { opacity: 1; }
    to { opacity: 0; }
}
