head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='IE=edge, chrome=1')
  meta(name='description', content='')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
  title Da'Jour Christophe
  link(href='https://fonts.googleapis.com/css2?family=Meow+Script&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Meow+Script&family=Roboto:ital,wdth,wght@0,87.5,100..900;1,87.5,100..900&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Meow+Script&family=Roboto:ital,wdth,wght@0,87.5,100..900;1,87.5,100..900&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Cossette+Texte:wght@400;700&display=swap', rel='stylesheet')
  link(rel='stylesheet', href=cssHref)
  script.
    void function() {
      document.documentElement.className =
      document.documentElement.className.replace('no-js', 'js');
    }();
