//- Primary navigation and contact CTA.
nav.navigation(aria-label='Primary navigation')
  ul.list
    li.list-item
      figure.fig(aria-label="Da'Jour Christophe logo")
        object.obj(role='img', aria-label="Da'Jour Christophe logo mark")
    li.list-item
      ul.list(aria-label='Portfolio sections')
        li.list-item
          button.link#experience-cta(type='button', aria-label='Open experience panel') Experience
        li.list-item
          button.link#services-cta(type='button', aria-label='Open services panel') Services
        li.list-item
          button.link#about-me-cta(type='button', aria-label='Open about me panel') About Me
        li.list-item
          button.link#social-media-cta(type='button', aria-label='Open social media panel') Social Media
    //- li.list-item
    //-   svg.brand-logo(xmlns='http://www.w3.org/2000/svg', viewBox='0 264 500 131', preserveAspectRatio='xMidYMax meet')
    //-     path#curved(d='M 20,370 A 260,156 0 0,1 480,370', fill='none')
    //-     text
    //-       textPath(href='#curved', startOffset='50%') Da'Jour J. Christophe
    li.list-item
      button.link#work-with-me-cta(type='button', aria-label='Open contact panel')
        span Work With Me
        figure.icon
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 640')
            path(d='M598.6 342.6C611.1 330.1 611.1 309.8 598.6 297.3L470.6 169.3C458.1 156.8 437.8 156.8 425.3 169.3C412.8 181.8 412.8 202.1 425.3 214.6L498.7 288L64 288C46.3 288 32 302.3 32 320C32 337.7 46.3 352 64 352L498.7 352L425.3 425.4C412.8 437.9 412.8 458.2 425.3 470.7C437.8 483.2 458.1 483.2 470.6 470.7L598.6 342.7z')
